/*--------------------------------------------------------------
Roboto
--------------------------------------------------------------*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('./../fonts/Roboto-Light.woff2') format('woff2'),
    url('./../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('./../fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('./../fonts/Roboto-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('./../fonts/Roboto-Regular.woff2') format('woff2'),
    url('./../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('./../fonts/Roboto-Italic.woff2') format('woff2'),
    url('./../fonts/Roboto-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./../fonts/Roboto-Medium.woff2') format('woff2'),
    url('./../fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('./../fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('./../fonts/Roboto-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./../fonts/Roboto-Bold.woff2') format('woff2'),
    url('./../fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('./../fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('./../fonts/Roboto-BoldItalic.woff') format('woff');
}

/*--------------------------------------------------------------
RazerF5
--------------------------------------------------------------*/
@font-face {
  font-family: 'RazerF5';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/RazerF5-Regular.woff2') format('woff2'),
    url('./../fonts/RazerF5-Regular.woff') format('woff');
}

@font-face {
  font-family: 'RazerF5';
  font-style: normal;
  font-weight: 600;
  src: url('./../fonts/RazerF5-SemiBold.woff2') format('woff2'),
    url('./../fonts/RazerF5-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'RazerF5';
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/RazerF5-Bold.woff2') format('woff2'),
    url('./../fonts/RazerF5-Bold.woff') format('woff');
}
